body{
    margin: 150px;
}

.header{
    margin-left: auto;
    text-align: end;
    max-width: 350px;
    right: 0px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

.info{
    font-family: 'Comforter Brush', cursive;
    font-size: 22px;
    text-indent: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 35px;
}
.title{
    font-family:'Comforter Brush', cursive;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 35px;
}
div{
    line-height: 35px;
}