    body {
        margin: 8%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        background-color: rgb(205, 159, 74) ;
    }

    pre {
        font-family: 'Courier New', Courier, monospace;
        background-color: burlywood;
        border: 2px;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
    }
    .example {
        font-family: 'Courier New', Courier, monospace;
        background-color: burlywood;
        border: 2px;
    }
    
    
