.main{
    height: 314px;
    background-color: rgb(212, 209, 209);
    justify-content: space-between;
    padding-top: 0.1px;
}

.navigation{
    width: 15em;
    background-color: blanchedalmond;
    float: left;
    font-size: 18px;
    margin-bottom: 0.2em;
}

.wrap{
    background-color: darkgrey;
}


.article{
    background-color: rgb(94, 142, 142);
    margin-left: 15em;
    margin-bottom: 0.2em;
    font-size: 18px;
    overflow: hidden;
}

.spacer{
    height: 0.2em;
}

.footer{
    background-color: cornflowerblue;
    clear: both;
    padding-top: 0.1px;
    font-size: 18px;
}

.img_mail1{
    float: right;
    margin: 10px;
}
